hr {
  padding-top: 8rem;
  border: none;
}

/* BLOG HERO */
.blog-hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.bh-content {
  position: relative;
  top: -60vh;
  text-align: center;
  color: #fff;
  overflow: hidden;
  padding-bottom: 2rem;
}

.bh-content h1 {
  font-size: 15vh;
  font-family: "Poppins", sans-serif;
  text-shadow: 4px black;
  transition: ease 0.3s;
}

.bh-content h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.bh-content p {
  font-size: 4vw;
}

.bh-content button {
  margin-top: 1rem;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #00affe;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.bh-content button:hover {
  color: #fff;
  background-color: #00affe;
  transform: scale(1.1);
}

/* BLOG LEFT */

.blog-container {
  margin-top: -10rem;
}

.blog-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.blog-left img {
  width: 30%;
  height: 70vh;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-right: 4vw;
  margin-left: 2vw;
  opacity: 1;
}

.blog-left img:hover {
  opacity: 0.95;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
}

.blog-content-right {
  width: 80%;
}

.blog-content-right h1 {
  font-family: "Comforter Brush", system-ui;
  color: #333a73;
  font-size: 400%;
  margin-bottom: 1.5rem;
}

.blog-content-right p {
  color: #666666;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-wrap: wrap;
}

.blog-content-right p h {
  color: #00affe;
  cursor: pointer;
}

.block {
  display: block;
}

@media (width<=1002px) {
  .blog-left {
    display: block;
    text-align: center;
  }
  .blog-content-right {
    width: 100%;
    text-align: left;
  }
  .blog-left img {
    width: 70%;
    height: 60vw;
  }
  .blog-content-right h1 {
    font-size: 300%;
    margin-top: 3rem;
    text-align: center;
  }
}

/* RIGHT IMAGE */

.blog-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.blog-right img {
  width: 30%;
  height: 70vh;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-right: 4vw;
  margin-left: 2vw;
  opacity: 1;
}

.blog-right img:hover {
  opacity: 0.95;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
}

.blog-content-left {
  width: 80%;
  margin-left: 4%;
}

.blog-content-left h1 {
  font-family: "Comforter Brush", system-ui;
  color: #333a73;
  font-size: 400%;
  margin-bottom: 1.5rem;
}

.blog-content-left p {
  color: #666666;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-wrap: wrap;
}

.blog-content-left p h {
  color: #00affe;
  cursor: pointer;
}

.block {
  display: block;
}

@media (width<=1002px) {
  .blog-right {
    display: block;
    text-align: center;
  }
  .blog-content-left {
    width: 100%;
    text-align: left;
  }
  .blog-right img {
    width: 70%;
    height: 60vw;
  }
  .blog-content-left h1 {
    font-size: 300%;
    margin-top: 3rem;
    text-align: center;
    margin-left: -2.8rem;
  }
}
