/* HERO */

video {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  margin-top: 5rem;
}

.nav-btn {
  background: transparent;
}

.content {
  width: fit-content;
  color: #fff;
  position: relative;
  top: -29vw;
  left: 10%;
  text-align: center;
}

.content h1 {
  font-size: 10vh;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px black;
  transition: ease 0.3s;
}

.content h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.content p {
  font-size: 2vw;
  text-align: center;
}

.content button {
  margin-top: 1.3rem;
  height: 3.5vw;
  width: 12vw;
  font-size: 1.3rem;
  font-weight: 600;
  color: #00affe;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.content button:hover {
  color: #fff;
  background-color: #00affe;
  transform: scale(1.1);
}

/* OFFERS*/

.offers .head1 {
  margin-top: -8rem;
}

.offer-card-container {
  display: flex;
  padding: 5px 5px;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
  margin-bottom: 5rem;
}

.offer-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  min-width: 32rem;
  padding: 1rem;
  margin-right: 2.5rem;
}

.offer-card img {
  height: 10rem;
}

.offer-text h3 {
  font-size: 1.5rem;
}

.offer-text p {
  margin-top: 8px;
  font-size: 14px;
}

.offer-text button {
  margin-top: 1.3rem;
  padding: 10px;
  background-color: #00affe;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.offer-text button:hover {
  color: #00affe;
  background-color: #fff;
  border: #00affe 1px solid;
}

/* EXPLORE INDIA */

.d-card-container {
  margin-top: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.d-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  width: 20rem;
  padding: 7px;
  margin-right: 2rem;
  margin-bottom: 1rem;
  color: #333a73;
}

.d-card img {
  width: 100%;
  border-radius: 10px;
  opacity: 1;
}

.d-card h4 {
  font-size: 1.2rem;
  margin-bottom: -1px;
}

.d-card p {
  font-size: 0.9rem;
  color: #544c4c;
}

.d-card-text {
  padding: 10px 15px;
}

.d-card img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0.5rem;
}

.foot .num {
  font-size: 1.2rem;
  font-weight: 700;
}

.foot i {
  font-size: 2.5rem;
  transform: rotate(45deg);
}
.foot i:hover {
  color: #00affe !important;
  transform: scale(1.1) rotate(45deg);
  cursor: pointer;
}
