/* HERO */

video {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  margin-top: 5rem;
}

.nav-btn {
  background: transparent;
}

.content {
  width: fit-content;
  color: #fff;
  position: relative;
  top: -55vh;
  left: 10%;
  text-align: center;
  overflow: hidden;
}

.content h1 {
  font-size: 10vh;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px black;
  transition: ease 0.3s;
}

.content h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.content p {
  font-size: 2vw;
  text-align: center;
}

.content button {
  margin-top: 1.3rem;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #00affe;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.content button:hover {
  color: #fff;
  background-color: #00affe;
  transform: scale(1.1);
}

@media (width<=752px) {
  .content h1 {
    font-size: 9vw;
  }
  .content p {
    display: none;
  }
}

@media (width<=450px) {
  video {
    height: 71vh;
    width: 100vw;
  }

  .content {
    top: -45vh;
  }
}

/* OFFERS*/

.view-all {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  padding-right: 4rem !important;
  color: #544c4c !important;
  cursor: pointer !important;
}

.offers .head1 {
  margin-top: -7vw;
}

.offers .head1 p {
  /* font-size: 6vh; */
}

.offer-card-container {
  display: flex;
  padding: 5px 5px;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  overflow-x: scroll;
  margin-bottom: 5rem;
}

.offer-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  min-width: 32rem;
  padding: 1rem;
  margin-right: 2.5rem;
}

.offer-card img {
  height: 10rem;
}

.offer-text h3 {
  font-size: 1.5rem;
}

.offer-text p {
  margin-top: 8px;
  font-size: 14px;
}

.offer-text button {
  margin-top: 1.3rem;
  padding: 10px;
  background-color: #00affe;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.offer-text button:hover {
  color: #00affe;
  background-color: #fff;
  border: #00affe 2px solid;
}

@media (width<=616px) {
  .offer-card img {
    display: none;
  }
  .offer-card {
    min-width: 19.5rem;
  }
  .view-all {
    display: none;
  }
  .offers .head1 p {
    font-size: 5vh;
  }
  .destinations .head1 p {
    font-size: 4vh;
    text-wrap: nowrap;
  }
  .destinations .about {
    width: 90%;
  }
  .destinations .head1 p span {
    display: none;
  }
}

/* EXPLORE INDIA */

.d-card-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.d-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  width: 45vh;
  height: 25rem;
  padding: 7px;
  margin-left: 4vw;
  color: #333a73;
}

.d-card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 1;
}

.d-card h4 {
  font-size: 1.2rem;
  margin-bottom: -1px;
}

.d-card p {
  font-size: 0.9rem;
  color: #544c4c;
}

.d-card-text {
  padding: 10px 15px;
}

.d-card img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0.5rem;
}

.foot .num {
  font-size: 1.2rem;
  font-weight: 700;
}

.foot i {
  font-size: 2.5rem;
  transform: rotate(45deg);
}
.foot i:hover {
  color: #00affe !important;
  transform: scale(1.1) rotate(45deg);
  cursor: pointer;
}

@media (width<=1340px) {
  .d-card {
    max-width: 55vh;
    width: 55vh;
  }
}

@media (width<=1158px) {
  .d-card {
    width: 55vh;
    max-width: 55vh;
  }
}

@media (width<=1062px) {
  .d-card {
    max-width: 65vh;
    width: 55vw;
  }
}

@media (width<=728px) {
  .d-card {
    max-width: 70vh;
    width: 75vw;
  }
}

/* Tour Guide */

.tour-guide .head {
  text-align: center;
  font-family: "Comforter Brush", system-ui;
  color: #00affe;
  font-size: 6vw;
  font-weight: 500;
  margin-bottom: 3rem;
}

.tg-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tg-card {
  height: 24rem;
}

.tg-card img {
  object-fit: cover;
  width: 20rem;
  height: 23rem;
  border-radius: 2rem;
}

.tg-rating {
  background-color: #fff;
  padding: 1px 8px;
  border-radius: 10px;
  width: fit-content;
  position: relative;
  top: -21.5rem;
  left: 1.5rem;
}

.tg-text {
  color: #fff;
  position: relative;
  top: -9rem;
  left: 1.5rem;
}

.tg-text h3 {
  font-size: 1.6rem;
}

.tg-price {
  display: flex;
}

.tg-price h4 {
  margin-right: 6px;
}

.tg-btn {
  padding: 10px;
  background-color: #00affe;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.tg-btn:hover {
  color: #00affe;
  background-color: #fff;
  border: #00affe 2px solid;
}

.tc {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

.tg-card-lg {
  width: 34rem;
  height: 20rem;
}

.tg-card-lg img {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.tg-rating-lg {
  background-color: #fff;
  padding: 1px 8px;
  border-radius: 10px;
  width: fit-content;
  position: relative;
  top: -21.5rem;
  left: 1.5rem;
}

.tg-text-lg {
  color: #fff;
  position: relative;
  top: -10rem;
  left: 1.5rem;
}

.tg-text-lg h3 {
  font-size: 1.6rem;
}

.tg-price {
  display: flex;
}

.tg-price h4 {
  margin-right: 6px;
}

@media (width<=1500px) {
  .tg-card-lg {
    width: 20rem;
  }

  .tg-card-lg img {
    height: 23rem;
    width: 20rem;
  }
}

@media (width<=1199px) {
  .tg-card-lg,
  .tg-card {
    width: 35vw;
    height: 23rem;
    margin-bottom: 5%;
  }

  .tg-card-lg img,
  .tg-card img {
    height: 23rem;
    width: 35vw;
    min-width: 18rem;
  }
}

@media (width<=707px) {
  .tg-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tg-card-lg,
  .tg-card {
    width: 65vw;
    height: 23rem;
    margin-bottom: 5%;
    margin-left: -2rem;
  }

  .tg-card-lg img,
  .tg-card img {
    height: 23rem;
    width: 65vw;
    min-width: 18rem;
  }
  .tour-guide .head {
    font-size: 9vw;
  }
}
