* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

/* COMON */

.flex {
  display: flex;
}

.container {
  padding: 0 10%;
}

/* NAVBAR */

.navbar {
  background-color: #fff;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #333a73;
}

.font-white {
  color: #00affe;
}

.nav-links {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  width: 50%;
  padding-left: 20%;
}

.nav-links a {
  margin: 2%;
  text-wrap: nowrap;
}

.nav-links a:hover {
  border-bottom: #00affe 3px solid;
}

.logo {
  margin-left: 10%;
  display: flex;
}

.nav-btn {
  height: 3rem;
  width: 8rem;
  border-radius: 8px;
  border: none;
  color: #00affe;
  background-color: #ffffff;
  border: #00affe 2px solid;
  font-size: 18px;
  font-weight: 700;
  margin-right: 10%;
}

.nav-btn:hover {
  color: #ffffff;
  background-color: #00affe;
  cursor: pointer;
}

.nav-content {
  display: flex;
}

.menu-btn {
  font-size: 2.1rem;
  margin-right: 10%;
  display: none;
}

@media (width <= 1204px) {
  .logo {
    margin-left: 2%;
  }
  .nav-btn {
    margin-right: 2%;
  }
}

@media (width <= 1003px) {
  .nav-links,
  .nav-btn {
    display: none;
  }
  .logo {
    margin-left: 5%;
  }
  .menu-btn {
    display: block;
    margin-right: 5%;
  }
}

/*  HERO  */

@media (width <= 700px) {
  .container {
    padding: 0 5%;
  }
}

.hero {
  display: flex;
  align-items: center;
}

.hero-img {
  width: 34vw;
  height: fit-content;
  max-width: 100%;
}

.hero-text {
  margin-top: 6rem;
}

.hero-text .main {
  font-family: "Comforter Brush", system-ui;
  font-size: 300%;
  font-weight: 550;
  color: #00affe;
  margin-right: 5px;
  margin-bottom: 1.5rem;
}

.hero-text h1 {
  font-family: "Abril Fatface", system-ui;
  font-size: 5vw;
  font-weight: 550;
  color: #333a73;
  margin-right: 5px;
}

.hero-text .end {
  margin-top: 2rem;
  color: #9bb7c8;
}

.btns {
  margin-top: 2rem;
}

.btns .btn1 {
  height: 3rem;
  width: 8rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: #00affe;
  border: #00affe 2px solid;
  font-size: 18px;
  font-weight: 700;
  margin-right: 2%;
}

.btns .btn1:hover {
  color: #00affe;
  background-color: #fff;
  cursor: pointer;
}

.btns .btn2 {
  height: 3rem;
  width: 8rem;
  border-radius: 8px;
  border: none;
  color: #333a73;
  background-color: #ffffff;
  border: #333a73 2px solid;
  font-size: 18px;
  font-weight: 700;
}
.btns .btn2:hover {
  color: #00affe;
  border: #00affe 2px solid;
  cursor: pointer;
}

@media (width <= 700px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    margin-top: 3rem;
  }

  .hero-text h1 {
    font-size: 10vw;
  }
  .hero-img {
    width: auto;
    max-width: 70vw;
  }
  .btns {
    text-align: center;
  }
  .btns .btn1 {
    margin-right: 12%;
  }
}

@media (width <= 330px) {
  .btns {
    display: none;
  }
}

/* CATEGORIES */

.categories {
  margin-top: 4rem;
}

.head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head1 p {
  font-family: "Abril Fatface", system-ui;
  color: #333a73;
  font-size: 3.5rem;
}

.left-right {
  margin-right: 10rem;
  margin-top: 4px;
  color: #333a73;
  cursor: pointer;
}

.left-right .left {
  font-size: 3.5rem;
}
.left-right .right {
  font-size: 3.5rem;
}

.about {
  color: #9bb7c8;
  width: 40%;
  font-size: 15px;
  margin-top: 1.3rem;
}

.option-grp {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.option {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.option img {
  object-fit: cover;
  border-radius: 35%;
  height: 15vw;
  width: 15vw;
  opacity: 1;
}

.option img:hover {
  opacity: 0.9;
}

.option:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.option p {
  font-size: 3.4vw;
  text-align: center;
  font-family: "Comforter Brush", system-ui;
  color: #00affe;
}

/* TOURS */

.tours {
  margin-top: 4rem;
}

.tours .head1 p {
  font-family: "Abril Fatface", system-ui;
  color: #333a73;
  font-size: 3.5rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  height: 30rem;
  width: 23rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 280px;
  border-radius: 10px 10px 0 0;
  opacity: 1;
}

.card:hover {
  opacity: 0.9;
}

.price {
  background-color: #00affe;
  color: #fff;
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
}

.rating {
  background-color: #ffc436;
  border-radius: 5px;
  padding: 0 3px;
  margin-left: 2rem;
}

.card .flex {
  margin-top: 1rem;
  margin-left: 2rem;
}

.card i {
  margin-top: 7.5px;
}

.card-text {
  margin-top: 1rem;
  padding: 0 10%;
}

.card-about {
  font-weight: 700;
  color: #5a6972f6;
  font-size: 18px;
}

.card:hover {
  .card-about {
    color: #00affe;
  }
}

.card-location {
  margin-top: 1.5rem;
  color: #9bb7c8;
  font-size: 15px;
}
